body {
    margin: 0;
}

td {
    font-size: smaller;
    margin: 0px;
    padding: 0px 5px;
}

#vrhnji {
    position: fixed;
    padding-left: 20px;
    left: 0;
    right: 0;
    background-color: aliceblue;
}