body {
    margin: 0;
}

td {
    font-size: smaller;
    margin: 0px;
    padding: 0px 5px;
}

#vrhnji {
    position: fixed;
    padding-left: 20px;
    left: 0;
    right: 0;
    background-color: aliceblue;
}

#results {
    margin-top: 15px;
}

#expl_table {
    width: 100%;
    table-layout: fixed;
}

.expl_td {
    padding: 0px 15px;
}

.btn {
    margin: 0px 20px 7px;
}