* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

body {
    background-color: #313131; /* siva tema (temno siva): #313131 plava tema (svetlo plava): #e8f4f7 */
}

/*
pomožni klasi:
- postavitveni:
- show_if_1col
- hide_if_1col        (se ne uporablja, če se uporablja move_left_if_1col)
- move_left_if_1col   (se ne uporablja, če se uporablja hide_if_1col)
- oblikovni
- hide_if_mobile        (samo manjši razmik recimo, če na mobilci; se še ne uporablja)
- unused                    (nisem še prepričan o tem, kako in zakaj bi ga rabil)

klasi, kot so .hide-if-1col, se uporabljajo za upravljanje postavitve, ne za oblikovanje
za oblikovanje se dodoa kak drug klas, recimo ".pisan" ali karkoli

color: #f0fff0;             svetla barva pisave, honeydew
background-color: #808080;  najsvetlejša  siva ozadja
background-color: #5a5a5a;  srednja siva ozadja
background-color: #313131;  najtemnejša siva ozadja
*/

#left_container {
    position: absolute;
    padding: 20px;
    width: 360px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #808080; /* svetla siva: #808080; temna plava: #306599 / za mobile: #587694 */
    color: #f0fff0; /*bela za sivo temo: #f0fff0 ; bela za plavo temo: web: f8f2e3 , mobile: #FAF6EB */

    /* POZOR - spodnja zadeva se določa tudi v index.js */
    border-right: solid 1px #f0fff0; /* bela za sivo temo: #f0fff0 ; modra za modro temo: #306599 (izjemoma iste barve kot polje) */
    /* POZOR - zgornja zadeva se določa tudi v index.js */
}

#theme {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: linear-gradient(#306599, #D1E5E9);  /* siv kvadraek na modri temi: #808080 , #313131 */
    font-size: 1px;
    color: #306599;
}

#left_upper_content,
#upper_position_4_blog,
#lower_position_4_blog,
#alternate_postn_explanation,
#left_upper_content div b,
#left_upper_content div b a,
#programs {
    background-color: inherit;
    color: inherit;
}

#left_lower_content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0 20px 20px 20px;
    /* background: inherit;
    color: inherit; */
}

#right_container {
    position: absolute;
    padding: 20px;
    padding-left: 21px;
    width: 560px;
    top: 0;
    left: 402px;
    bottom: 0;
    background-color: #5a5a5a; /* srednja siva: #5a5a5a  srednja plava: #D1E5E9 */
    color: #e8f0eb; /* svetla za sivo temo: #e8f0eb ; temno siva za plavo temo: #3F4446 */
}

#right_upper_content,
#explanation,
#explanation b,
#explanation b a,
#explanation p,
#explanation p a {
    background-color: inherit;
    color: inherit;
}

#right_lower_content {  /* mislim da se ne uporablja več */
    bottom: 20px;
    left: 20px;
}

.fixed {
    position: fixed;
}

.hidden {
    display: none;
}

/* FUNKCIONALNI */
/* class="themed_link" - se da v a tag, ki lahko doby query ?theme, če tako treba; */
/* potem treba isti klas tudi na povratni link na strani, na katero prideš s prvim themed linkom; */


/* TIPOGRAFIJA */

tbody,
tr,
td,
td a,
p b,
p a,
p strong {
    background-color: inherit;
    color: inherit;
}

td {
    padding-bottom: 10px;
}

h1 {
    font-size: 36px;
    /* 36*/
    font-style: italic;
    background-color: inherit;
}

h2 {
    font-size: 30px;
    font-style: italic;
    background-color: inherit;
}

p {
    margin-bottom: 8px;
    background-color: inherit;
}

.logo {
    background-color: inherit;
    color: #f0fff0; /* bela za sivo temo: #f0fff0;temno rjava za plavo temo: #353133 , zanimiva tudi #35051*/
}

.comment {
    font-size: 0.8rem;
    background-color: inherit;
}


.smaller_text {
    font-size: small;
    background-color: inherit;
}

.new {
    background-color: inherit;
    font-size: 14;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #50ff2d, 0 0 30px #50ff2d, 0 0 40px #50ff2d, 0 0 50px #50ff2d, 0 0 75px #50ff2d;
    /* original roza #ff2d95  zelena: #50ff2d  */
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}