* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #686868; /* najprej: #808080 (grey) */
}

body {
    position: relative;
    margin-top: -1px;   /* da ni margin collapsing */
    padding-top: 1px;
    margin-bottom: 1px;
}

p {
    margin-bottom: 12px;
    font-size: 14px;
    color: #f0fff0; /* honeydew */
}

#home {
    top: 0px;
    padding-top: 15px;
    padding-left: 15px;
}

#title {
    text-align: center;
    font-size: 18px;

}

#info_icon {
    position: absolute; 
    right: 16px;
    top: 15px;

    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    color : whitesmoke;

    height: 1.1em;
    width: 1.1em;
    /* line-height: 1.1em; */
    text-align: center;

    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#canvas_div {
    /* position: absolute;   ne sme imet absolute, ker ima takrat left:0 in ni več na sredini*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#foreground_canvas_div {
    position: absolute; /* zaradi positioon absolute se tišči na levo in ne na sredino vodoravnega bloka*/
    background: none;
}

#foreground_canvas {
    background: none;
}

#controls, #tempo_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#controls {
    margin-bottom: 20px;
}

#left_beat, #center_control, #right_beat {
    margin: 30px 30px 2px;
}

#right_beat_digit {
    position: absolute;
    font-size: 50px;
    padding-left: 0.25em;
}

#left_beat_digit {
    position: absolute;
    font-size: 50px;
    padding-right: 0.25em;
}

#display_tempo {
    color: #85ac75;
    font-size: 36px;
    margin-right: 12px;
    align-self: center;

}

#joker_bckgnd {
    position: absolute;
    background: #bbbbbb66;
}

#joker_foregnd {
    position: absolute;
    background: #686868;
    padding: 24px 20px 32px;
    top: 120px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

#joker_close_icon {
    position: relative;
    justify-self: right;
    
    border-radius: 50%;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    color:whitesmoke;
    
    font-size: 18px;
    height: 1.1em;
    width: 1.1em;
    line-height: 1.1em;
    text-align: center;
    
    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#joker_content {
    position:absolute;
    top: 56px;
    right: 28px;
    bottom: 32px;
    left: 24px;
    background: #686868;
    color: #eeece4;
    overflow-y: scroll;
}

.beat-selector {
    color: #2e2d2d;
    background-color: #999;
    font-size: 18px;
    padding: 2px 8px;
    margin-right: 12px;
    align-self: center;
    border-radius: 0.4em;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-click{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.hidden {
    display: none;
}