* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #686868; /* najprej: #808080 (grey) */
}

body {
    position: relative;
    margin-top: -1px;   /* da ni margin collapsing */
    padding-top: 1px;
    margin-bottom: 1px;
}

p {
    margin-bottom: 12px;
    font-size: 14px;
    color: #f0fff0; /* honeydew */
}

#home {
    top: 0px;
    padding-top: 15px;
    padding-left: 15px;
}

#title {
    text-align: center;
    font-size: 18px;

}

#info_icon {
    position: absolute; 
    right: 16px;
    top: 15px;

    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    color : whitesmoke;

    height: 1.1em;
    width: 1.1em;
    /* line-height: 1.1em; */
    text-align: center;

    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#canvas_div, #controls, #tempo_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#foreground_canvas_div {
    position: absolute;
    background: none;
}

#foreground_canvas {
    background: none;
}

#sample_div {
    position: absolute;
    background-color: #85ac75;  /* bcgcoior in color kot .bpm-label-selected */
    color: #ccf7be;
    padding: 4px;
    border-radius: 4px;
}

#controls  {
    margin-top: 30px;
    margin-bottom: 20px;
}

#left_beat, #center_control, #right_beat {
    margin: 0px 30px 2px;
}

#tempo_div {
    padding-bottom: 8px;
}

#bpm_cluster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    transition-duration: 200ms;
}

#canv_tempo {
    margin-left: 16px;
}

#joker_bckgnd {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: #bbbbbb66;
}

#joker_foregnd {
    position: fixed;

    top: 120px;
    right:19%;
    left: 19%;
    /* višine al bottoma nima določene, da se lahko prilagodi dolžini besedila; */

    padding-top: 58px;
    padding-right: 32px;
    padding-left: 24px;
    padding-bottom: 32px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background: #686868;
}

#joker_close_icon {
    position: absolute;
    top: 24px;
    right: 20px;
    
    border-radius: 50%;
    border-color: #fff ; /* prej bilo whitesmoke */
    border-width: 1px;
    border-style: solid;
    color: #fff ;    /* prej bilo whitesmoke */
    
    font-size: 18px;
    height: 1.1em;
    width: 1.1em;
    line-height: 1.1em;
    text-align: center;
    
    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#joker_content {
    top: 58px;
    right: 28px;
    left: 24px;
    background: #686868;
    color: #eeece4;
}

.beat-count-digit {
    font-size: 50px;
    color: #85ac75; /* digitColrShaded */
    padding-top: 40px;
}

.inline-data-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
}

.bpm_line_selctd {
    padding-left: 0px;
    transition-duration: 200ms;
}

.bpm-label {
    color: #494747;
    background-color: #999;
    font-size: 14px;
    padding: 1px 8px;
    margin-right: 12px;
    align-self: center;
    border-radius: 0.4em;
    transition-duration: 200ms;
}

.bpm-label-selected{
    background-color: #85ac75;
    color: #ccf7be;     /* opcije za color tudi   #c9f7b9 #ccf7be #e6ffde #2e2d2d;*/
    font-size: 18px;
    padding: 3px 8px;
    transition-duration: 200ms;
}

.bpm-digit {
    color: #72816b; /* 74856c izvirno morda: 717d6b */
    font-size: 24px;
    align-self: center;
    transition-duration: 200ms;
}

.bpm-digit-selctd {
    color: #8dc079; /* izvirno bilo: #85ac75 svetla opcija: a2f083 vmes: 93ce7c */
    font-size: 36px;
    transition-duration: 200ms;
}

.center-text {
    text-align: center;
}

.no-click{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.hidden {
    display: none;
}

.no-margin {
    margin: 0;
}

.transparent {
    background-color: transparent;
}

.color-inhrt {
    color: inherit;
}