:root {
    --knob-on: #199919;   /* ideje: #35ac35 199919; knob on: pomeni barvo štoflca, ko je štoflc (knob, tj. katero stanje stikala je izbrano) na strani on (on); */
    --knob-off: #e03939;    /* izvirno: #ff0000; ideje: df3e3e 	bf3f3f */
    /*  od tu dol so tle samo deklarirane, prave vrednosti se izračunajo v .js in izhajajo iz dveh vrednosti tu zgoraj; */ 
    --inactive-knob-on: #35ac35;
    --inactive-knob-off: #e03939;
    --inactive-bckgnd: #c3c3c3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #888888;
}

/* ta se uporablja tako za backgDiv (prejme tudi klas switch-holder-gradient-bckgnd) kot za switchDiv (prejme tudi klas switch-holder-main) */ 
.switch-holder {
    width: 2rem; 
    height:1rem;
}

.switch-holder-bckgnd {
    margin-left: 8px;
    border: 2px solid white;
}

.switch-holder-foregnd {
    background: transparent;    /* prozoren, da se vidi gradient diva pod njim*/
}

.switch-holder-bckgnd-togg-moving-R {
    background: linear-gradient(to right,
        #e66f6f 0%,
        #fff 55%)
}

.switch-holder-bckgnd-togg-moving-L {
    background: linear-gradient(to left,
        #45a045 0%,
        #fff 55%)
}



/* gradienti nekoč uporabljeni, morda kakšen lep*/
/* #e4b3b3 0%,
        #fff 50%,
        #9ad19a 100%); */
/* background: linear-gradient(to right,
    #fff 0%,
    #fff 55%,
    #9ad19a 100%); /* bilo: 85e585 #68d368*/


.switch-hldr-regular {
    background: white;
    transition-property: background;
    transition-duration: 1s;    /* traja več, kot pot štoflca (ki je 0,3s), ampak to ni težava */
}

.switch-hldr-initial {
    background: white;
}

.test_barv { 
    background: #e0e0e0;
    background: #818181;
 }

.toggle {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.toggle-flush-left {
    transform: translateX(0rem);   
    background-color: var(--knob-off);
}

.toggle-transitioning-right {
    transform: translateX(1rem);
    background-color: var(--knob-on);
    transition-property: all;
    transition-duration: 0.3s;
}

.toggle-flush-right {
    transform: translateX(1rem);
    background-color: var(--knob-on);
}

.toggle-transitioning-left {
    transform: translateX(0rem);
    background-color: var(--knob-off);
    transition-property: all;
    transition-duration: 0.3s;
}

.inactive-toggle-flush-right {
    transform: translateX(1rem);
    background-color: var(--inactive-knob-on);
}

.inactive-toggle-flush-left {
    transform: translateX(0rem);   
    background-color: var(--inactive-knob-off);
}


td {
    padding: 4px 0px 2px 10px;
}

.more-td-headroom {
    padding-top: 8px;
    padding-left: 4px
}

.user-select-none{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}