* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #808080; /* najprej: #808080 (grey) */
}

#home {
    padding-top: 15px;
    padding-left: 15px;
}

#utilities_title_section {
    position: relative; /* samo da omogočimo morebitne poznejše absolute */
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 8px;
}

.util_div {
    position: relative;
    margin-top: 32px;
    margin-left: 32px;
}

/* info icon(s) - start */
.info_icon_desktop {
    position: absolute; 
    right: 40px;
    top: 0;
    
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #4f4f4f;
    color:black; /* whitesmoke */
    background: #a2f083;
    
    height: 1.1em;
    width: 1.1em;
    /* line-height: 1.1em; */
    text-align: center;
    
    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

/* za ekrane manjše širine (900); ta samo naredi info krog bel in prozoren, da ne tolko pade v oči; prvotno, pri večji širini, je zelen, da bolj pade v oči; */
.info_icon_white {  /* mora bit obvezno niže od info_icon_desktop, ker sicer ne bi preglasil njegovih vrednosti; */
    right: 32px;
    border-color: #f5f5f5; /* #f5f5f5 == whitesmoke */
    color:#f5f5f5;
    background: #808080;
}

/* ta premakne info krog v eno vrstico više od besedila (prej je bil v isti vrstici in pri majhni širini bi se lahko prekrivalo); */
.info_icon_mobile { /* mora bit obvezno niže od info_icon_desktop, ker sicer ne bi preglasil njegovih vrednosti; */
    position: relative;
    justify-self: end;
    margin-right: 8px;
    margin-bottom: 8px;
}
/* end - info icon(s) */

input[type="text"], input[type="number"], #avg_hex_reslt_output {
    background: #dad9d9;
    padding: 1px 2px;
    width: 6em;
}

input[type="number"] {
    width: 4em;
}

.colr-display {
    margin-left: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #404040;
    padding: 2px 12px;
}

#btn_avg_hex_calc, input[type="reset"] {
    margin-left: 6px;
    background: #a2f083;
    padding: 2px 6px;
    font-size: 15px;
    border-radius: 5px;
}

input[type="reset"] {
    font-size: 13px;
    margin-left: 8px;
    margin-top: 6px;
}

#avg_hex_reslt_output {
        display: inline-block;
        background: #bbbbbb;
        width: 4em;
}

#avg_hex_err_output {
    background-color: #c96a6aff;
}

#div_reslt {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

#sigture {
    position: absolute;
    bottom: 0px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-top: 24px;
    color: #f0fff0;
}

#joker_bckgnd {
    position: absolute;
    background: #bbbbbb66;
}

#joker_foregnd {
    position: absolute;
    background: #686868;
    padding: 24px 20px 32px;
    top: 200px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

#joker_close_icon {
    position: relative;
    justify-self: end;
    margin-right: 10px;
    
    border-radius: 50%;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    color:whitesmoke;
    
    height: 1.1em;
    width: 1.1em;
    line-height: 1.1em;
    text-align: center;
    
    /* da ni mogoče izbrati besedila, view pa je še vedno clickable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#joker_content {
    margin-top: 0.5em;
    margin-right: 32px;
    background: #686868;
    color: #eeece4;
}

.no-padding {
    padding: 0 0 0 0;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-right-50 {
    margin-right: 50px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    padding-bottom: 6px;
}

.avg-hex-table {
    margin-right: 8px;
}

.avg-hex-table tr td {
    padding: 1px 0px 1px 2px;
}

.avg-hex-table tr td.margin-left-8 {
    padding: 2px 4px 2px 20px;
}

.hidden {
    display: none;
}