* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #686868; /* najprej: #808080 (grey) */
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 14px;
    color: #f0fff0; /* honeydew */
}

.center-text {
    text-align: center;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-click{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#home {
    padding-top: 15px;
    padding-left: 15px;
}

#canvas_div {
    /* position: absolute;   ne sme imet absolute, ker ima takrat left:0 in ni več na sredini*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#foreground_canvas_div {
    position: absolute; /* zaradi positioon absolute se tišči na levo in ne na sredino vodoravnega bloka*/
    background: none;
}

#foreground_canvas {
    background: none;
}

#controls, #tempo_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#controls {
    margin-bottom: 20px;
}

#left_beat, #center_control, #right_beat {
    margin: 30px 30px 2px;
}

#right_beat_digit {
    position: absolute;
    font-size: 50px;
    padding-left: 0.25em;
}

#left_beat_digit {
    position: absolute;
    font-size: 50px;
    padding-right: 0.25em;
}

#display_tempo {
    color: #85ac75;
    font-size: 36px;
    margin-right: 12px;
    align-self: center;

}

.beat-selector {
    color: #2e2d2d;
    background-color: #999;
    font-size: 18px;
    padding: 2px 8px;
    margin-right: 12px;
    align-self: center;
    border-radius: 0.4em;
}