* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #313131;
    background-color: #fefefe;
    font-size: 15px;
}

/*
barve ozadja v tabeli:
bckg_dark-red: #f4b084
bckg_light-red: #fce4d6
bckg_dark-blue: #9bc2e6
bckg_light-blue: #bdd7ee
bckg_dark-grey: #bfbfbf
bckg_light-grey: #f2f2f2
bckg_dark-green: #a9d08e
bckg_light-green: #c6e0b4

*/

.container {
    padding: 15px 20px 50px;
    background-color: #808080;
    display: flex;
}

.main {
    padding: 35px 100px 30px 35px;
    width: 970px;
    /*835 sama vsebina + 35 + 100 = 970*/
    background-color: #fefefe;
}

.second-flex {
    padding: 0px;
    width: 0px;
    background: linear-gradient(90deg, #fefefe, #808080);
    /* morda še ena vnes: #fafa9a, */
}

.optional-bottom-filler {
    background-color: #5a5a5a;
    width: 100%;
    height: 100%;
}

.footnote {
    color: rgb(34, 34, 104);
    font-size: 12px;
    margin-bottom: 5px;
}

.no-para {
    margin-bottom: 0;
}

.half-para {
    margin-bottom: 7px;
}

.indent {
    margin-left: 20px;
}

.indent_more {
    margin-left: 35px;
}

.viva_italia {
    font-style: italic;
    font-size: 13px;
}

.td_no-para {
    margin: 0;
    padding: 0px 5px;
}

h1 {
    margin-top: 8px;
    margin-bottom: 3px;
    font-size: 24px;
}

#date {
    font-size: 11px;
    color: #8b8b8b;
    margin-bottom: 20px;
}

.date {
    font-size: 11px;
    color: #8b8b8b;
}

h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

ol,
ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

sup {
    font-size: 11px;
    color: red;
}

sub {
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    font-size: inherit;
    color: blue
}

td {
    padding: 5px;
    font-size: 14px;
}

strong {
    background-color: inherit;
}

.bckg_dark-red {
    background-color: #f4b084;
}

.bckg_light-red {
    background-color: #fce4d6
}

.bckg_dark-blue {
    background-color: #9bc2e6
}

.bckg_light-blue {
    background-color: #bdd7ee
}

.bckg_dark-grey {
    background-color: #bfbfbf
}

.bckg_light-grey {
    background-color: #f2f2f2
}

.bckg_dark-green {
    background-color: #a9d08e
}

.bckg_light-green {
    background-color: #c6e0b4
}

.bckg_dark-yellow {
    background-color: #ffff00
}

.bckg_light-yellow {
    background-color: #fcfc80
}

.bckg_dark-orange {
    background-color: #ffd900
}

.bckg_light-orange {
    background-color: #f7e26c
}