* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #f0fff0;
    background-color: #808080;
}

/*barve: 
siva:hover              #808080;        (ozadje menijev,sicer grey)
svetlejša temno siva: 	#757575;
flourescentna zelena: 	#9cfa9c		(ozadje, ko hover pri izbiri elementa)
temno zelena: 			#3c523c					(ozadje izbranega elementa)
temno sivo ozadje:      #313131

*/

#canvas {
    position: absolute;
    background: #808080;    /* bilo: #5a5a5a */
}

.top_lbl {
    position: absolute;
    top: 2px;
    left: 8px;
}

#score_content {
    left: unset;
    right: 8px;
    font-size: 1em;
    text-align: right;
}

.info_settings_closed {
    position: absolute;
    top: 46px;
    left: 8px;
    height: 1.1em;
    width: 1.1em;
    line-height: 1.1em;
    text-align: center;
}

.info_settings_content_closed {
    border-radius: 50%;
    border-color: #bdc4bd;
    border-width: 1px;
    border-style: solid;
}
.info_settings_content_open {
    border: none;
}

.info_settings_open {
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
    padding: 20px;
    text-align: left;
    border-color: #bdc4bd;
    border-width: 1px;
    border-style: solid;
}

#home_link{
    position: absolute;
    top: 2px;
    right: 8px;
}

.blk_bckg { /* ta se rabi za GAME OVER; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-self: center;
    align-self: center;
    width: unset;
    height: unset;
    background-color: black;
    color: #FDAE34;
    padding: 30px;
}

.blk_bckg div {
    color: inherit;
    background-color: inherit;
}

.rotate {
    rotate: 180deg;
}

.fx {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-self: center;
    align-self: center;
    width: 288px;
    height: 158px;
    margin: 0;
    padding: 20px;
    color: white;
    background-color: #80808075;
}

#content_joker_bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 24px;
    padding-left: 24px;
    font-size: 1.5em;
    /* text-align: center; */
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.btn {
    position: absolute;
    background-color: #FDAE34;
    color: black;
    width: 50px;    /* to je širina in spodaj višina html elementa, širino canvasa pa je trebe poem določit programatično */
    height: 50px;
    border-radius: 50%;
    bottom: 20px;

}
